In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import os

In [2]:
from multiprocessing import Pool

In [3]:
# Función para multiproceso
def make_pool(func, params, threads=None):
    pool = Pool(threads)
    data = pool.map(func, params)
    pool.close()
    pool.join()
    del pool
    return [x for x in data]

In [4]:
url = "https://dblp.org/pers"

In [5]:
data_path = 'dfs_pos_i_20210727/'

In [6]:
os.path.join(data_path,'df.csv')

'dfs_pos_i_20210727/df.csv'

In [7]:
def df_posi(pos_i):
    try:
        r = requests.get(url=url, params={'pos': pos_i})
        soup = BeautifulSoup(r.content, 'html.parser')
        columns = soup.select('.column')
        psns = []
        for column in columns:
            persons = column.find_all('li')
            for person in persons:
                name = person.select_one('a').text.strip()
                ref = person.select_one('a')['href']
                psns.append([name, ref])
        df = pd.DataFrame(psns, columns=['name', 'ref'])
        df['pos_i'] = pos_i
        df.to_csv(os.path.join(data_path,f'df_{str(pos_i)}.csv'),index=False)
        return df
    except Exception as e:
        df = pd.DataFrame([[pos_i,e]], columns=['pos_i', 'name'])
        df.to_csv(os.path.join(data_path,f'df_{str(pos_i)}.csv'),index=False)
        return df 
        print(e)
    

data = [0,300,600]
data =  np.arange(0, 2827338, 300)

In [9]:
data = pd.read_csv('df_pos_i_completo.csv')

In [10]:
data = data[data.registro!='completo']['pos_i']

In [11]:
data.shape

(3643,)

In [12]:
#Problema: nos bloquearon
results = make_pool(df_posi,data)

In [13]:
#results

In [14]:
df_results = pd.concat(results).reset_index(drop=True)

In [15]:
df_results.to_csv('scraper_names_ref_20210729.csv',index=False)

In [8]:
df_posi(5)

                   name                                             ref  pos_i
0              A, Ambha            https://dblp.org/pers/a/A:Ambha.html      5
1    A, Ameer Suhail P.  https://dblp.org/pers/a/A:Ameer_Suhail_P=.html      5
2           A, Anand P.         https://dblp.org/pers/a/A:Anand_P=.html      5
3      A, Annis Fathima    https://dblp.org/pers/a/A:Annis_Fathima.html      5
4        A, Anu Monisha      https://dblp.org/pers/a/A:Anu_Monisha.html      5
..                  ...                                             ...    ...
295  Aabdollah, Morteza  https://dblp.org/pers/a/Aabdollah:Morteza.html      5
296  Aabed, Mohammed A.  https://dblp.org/pers/a/Aabed:Mohammed_A=.html      5
297         Aabel, Lise         https://dblp.org/pers/a/Aabel:Lise.html      5
298     Aaber, Zeyad S.     https://dblp.org/pers/a/Aaber:Zeyad_S=.html      5
299        Aaberg, Erik        https://dblp.org/pers/a/Aaberg:Erik.html      5

[300 rows x 3 columns]

In [23]:
len(range_to_2815175)

9384

In [25]:
l_results = p.map(df_posi,range_to_2815175)

In [26]:
p.close()

In [27]:
df_results = pd.concat(l_results).reset_index(drop=True)

In [28]:
df_results.to_csv('scraper_names_ref.csv',index=False)

In [29]:
df_results.drop_duplicates().shape

(162300, 3)

In [30]:
df_results.shape

(162300, 3)

In [36]:
df_results.pos_i.value_counts().to_frame().pos_i.value_counts()

300    541
Name: pos_i, dtype: int64

In [37]:
300*541

162300

In [32]:
df_results.sample()

                  name                                          ref    pos_i
53588  Touil, Abdelali  https://dblp.org/pers/t/Touil:Abdelali.html  2453100

In [ ]:
results = pd.concat(dfs).reset_index(drop=True)

In [ ]:
results.to_csv('scraper_names_ref.csv',index=False)

In [ ]:


soup = BeautifulSoup(r.content, 'html.parser')

In [ ]:
##3 columnas en una lista de 3 objetos
columns = soup.select('.column')

In [ ]:
psns =[]
for column in columns:
    persons = columns[1].find_all('li')
    for person in persons:
        name = person.select_one('a').text.strip()
        ref = person.select_one('a')['href']
        psns.append([name,ref])

In [ ]:
df = pd.DataFrame(psns,columns=['name','ref'])

In [ ]:
df['pos_i'] = pos_i

In [ ]:
df

In [ ]:
soup.select('p')

In [ ]:
[x.for x in soup.select('p')]

In [ ]:
range_to_2815175 = np.arange(0,2815175,300)

In [ ]:
len(range_to_2815175)

In [ ]:
range_to_2815175[0]